
{% extends 'inventario/base.html' %}
{% load static %}

{% block title %}Menú Principal{% endblock %}
{% block page_title %}Bienvenido a Meneses Constructores{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="height:50vh;">
  <div class="col-md-6 text-center">
    <img src="{% static 'img/logo_mc.png' %}" width="150" alt="Logo" class="animate__animated animate__fadeIn" />
    <p class="lead mt-3">Selecciona una opción del menú lateral</p>
  </div>
</div>





